.regular {
  background-color: rgb(15, 15, 15);
  color: aquamarine;
  
}

#submit{
  color: black;
  background-color: aquamarine;
}

.script {
   width: stretch;
   border: 10px;
 }

h1 {
  color: rgb(158, 226, 204);
  text-align: right;
  text-decoration: underline rgb(18, 39, 110);
  margin-top: 40px;
  font-size: 250%;
}

h2 {
 text-align: right;
 color: rgb(25, 112, 83);
 font-size: 120%;
}

.container {
  text-align: right;
}


img {
    float: left;
    margin: 10px;
    
  }

#csharp {
  margin: 10px;
  border: 20px;
  float: left;
}

#java {
  margin: 10px;
  border: 20px;
  float: left;
}

#ruby {
  margin: 10px;
  border: 20px;
  float: left;
}


.results {
  text-align: left;  
  font-size: 150%;
  color: blueviolet;
}



