body {
  background-color: rgb(15, 15, 15);
  color: aquamarine;
  
}

#submit{
  color: black;
  background-color: aquamarine;
}

.script {
   width: stretch;
 }

h1 {
  color: rgb(158, 226, 204);
  text-align: right;
  text-decoration: underline rgb(18, 39, 110);
  margin-top: 40px;
  font-size: 300%;
}

h2 {
 text-align: right;
 text-align: center;
 color: rgb(25, 112, 83);
}

.container {
  text-align: right;
}

.java-background {
  background-color: green;
}

.cSharp {
  display: none;
  background-color: brown;
}

.ruby-background {
  background-color: rebeccapurple;
}

img {
  float: left;
}





